/* Counselor panel */
/* table */
th {
  padding: 1rem 1.5rem;
}
td {
  padding: 1rem 1.5rem;
}
tr.display_image td {
  padding: 5px 1.5rem !important;
}

/* .hide__scroll {
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}
.hide__scroll::-webkit-scrollbar {
  display: none;
} */
